<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create" class="active">Create User</a>
    </div>

    <div class="form-add-new">
        <form action="/create-user" method="POST">
            <fieldset>
                <legend>Add user:</legend>
                <div class="input-group">
                    <label for="">Email: </label>
                    <input type="text" name="email">
                </div>
                <div class="input-group">
                    <label for="">Name: </label>
                    <input type="text" name="name">
                </div>
                <div class="input-group input-city">
                    <label for="">City: </label>
                    <input type="text" name="city">
                </div>
                <div>
                    <button>Add User</button>
                </div>
            </fieldset>
        </form>
    </div>

</body>

</html>