<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A New User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create" class="active">Create User</a>
    </div>

    <div class="form-add-new">
        <form method="POST" action="/create-user">
            <fieldset>
                <legend>Add New</legend>
                <div class="input-group">
                    <label for="">Email: </label>
                    <input type="text" name="email" id="emailId">
                </div>
                <div class="input-group">
                    <label for="">Name: </label>
                    <input type="text" name="name" id="">
                </div>
                <div class="input-group">
                    <label for="">City: </label>
                    <input type="text" name="city" id="">
                </div>
                <div>
                    <button>Save</button>
                </div>
            </fieldset>
        </form>

    </div>
</body>

</html>