<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create User</a>
    </div>

    <div class="form-add-new">
        <form action="/delete-user" method="POST">
            <fieldset>
                <legend>Delete user:</legend>
                <div class="input-group input-id">
                    <label for="">ID: </label>
                    <input type="text" name="userId" value="<%= user.id %>">
                </div>
                <div class="input-group">
                    <label for="">Delete this Account (Email): </label>
                    <input type="text" name="email" value="<%= user.email %>">
                </div>
                <div>
                    <button>Confirm</button>
                </div>
            </fieldset>
            <!-- <%= JSON.stringify(user) %> -->
        </form>
    </div>

</body>

</html>