<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>News Page - Maybe!</h1>
    <img class="capture-image" src="/images/capture.png" alt="no-image-display">
</body>

</html>